*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

[class*='-bloc'] {
    float: left;
}

.12-blocs {
    width: 100%;
}

.6-blocs {
    width: 50%;
}

