*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

[class*='bloc-'] {
    float: left;
}

.bloc-12 {
    width: 100%;
}

.bloc-8 {
    width: 66.67%;
}

.bloc-6 {
    width: 50%;
}

.bloc-4 {
    width: 33.33%;
}

.bloc-3 {
    width: 25%;
}

.bloc-2 {
    width: 16.66%;
}

.bloc-1 {
    width: 8.33%;
}

/* -------------------------------------- */

.container {
    margin: 0 0 10px;
}

[class*='bloc-'] {
    height: 40px;
    background-color: #36e8ff;
    border: 1px solid #fff;
}